*{
  
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Merriweather', serif;
}

main{
    min-height:100vh; 
    background: #5ffbf3b4;
 

/* background: linear-gradient(to bottom right, #0A44AB, #24538C); */
    background: linear-gradient(bottom right, rgb(101, 223, 201), rgb(108, 219, 235));
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass{
    /* background-image: linear-gradient(to right bottom, #5ffbf1, #5ffbf1, #5ffbf1, #5ffbf1, #5ffbf1, #7bfbe7, #92fbdf, #a6fbd9, #cafad2, #e5f9d5, #f7f9e0, #fffbf1); */
    background-color: white;
    min-height: 80vh;
    width:75%;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
    backdrop-filter: blur(1rem);
	border-radius: 1rem;
	z-index:3;
    display: flex;
}
.circle1,.circle2,.circle3,.circle4{
    /* background-color: rgb(62, 141, 54); */
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255, 0.7), 
        rgba(255,255,255, 0.3)
        );
      
        height:10rem;
        width: 10rem;
        position: absolute;
        border-radius: 50%;
        z-index: -5;
        animation: animate 10s linear infinite;
        animation-delay: calc(-1s*var(--i));
}
.circle1{
top:5%;
left: 97%;
z-index: -2;
}
.circle2{
    bottom: 5%;
    right:90%;
    z-index: -1;
    height:20rem;
    width: 20rem;
}
.circle3{
    bottom:-5%;
    right:20%;
    z-index: -1;
    height:5rem;
    width: 5rem;
}
.circle4{
   top: -10%;
    left:40%;
    z-index: -1;
    height:7rem;
    width: 7rem;
}
@keyframes animate{
    0%,100%,
    0%{
        transform: translateY(-40px);
      
    }
    50%{
        transform: translateY(40px);
     
    }
}

.dashboard{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.3));
    /* background: linear-gradient(to bottom right, rgba(95, 251, 243, 0.7),rgba(255, 255, 255, 0.3)); */
        border-radius: 1rem;
}
.links{
    align-items: center;
}
.link{
    padding:20px;
}
.link h2 a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    
}
.profilePic{
    width:50%;
 
}
.info{
    display: flex;
}
.content{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section{
    padding-top: 100px;
    padding-left: 20px;
}
.project{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project h4{
    font-size: 15px;
    font-weight: bold;
}
.code-deploy{
    display: flex;
    justify-content:space-around;
}
.info,.code-deploy a{
    font-size: 20px;
}
/* Styling for Contact Me Section */
#contactMe{
    
    display: flex;
    justify-content:space-between;
    border-top: 0.5px solid white;
    /* background: linear-gradient(to bottom right, rgba(95, 251, 243, 0.7),rgba(255, 255, 255, 0.3));
        border-radius: 1rem; */
}
#contactMe h2{
    padding: 20px;
}
.list ul{
    display: flex;
    list-style: none;
}
.list ul li {
    padding:20px;
}
.list ul li a i{
    padding:0;
    font-size:30px;
}
.hidden{
    display: none;
}

@media all and (max-width:500px) {
    .dashboard{
        width:100%
    }
}